<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yyh.yuu.blog.web.api.dao.ColumnDao">
    <sql id="columnColumns">
        a.id,
        a.img,
        a.cname,
        a.cname,
        a.describe,
        a.created,
        a.updated
    </sql>

    <select id="getColumnList" resultType="Column">
        select
        <include refid="columnColumns"/>
        from `column` AS a
    </select>

    <select id="getByCid" parameterType="int" resultType="Column">
        select
          <include refid="columnColumns"/>
        from `column` AS a
         where id = #{id}
    </select>

    <select id="getByCname" parameterType="string" resultType="int">
        select
          id
        from `column`
        where cname = #{cname}
    </select>

</mapper>